In [1]:
print (5)

5

In [2]:
print ("islamia vision high school")

islamia vision high school

In [3]:
print ("""gdsdhjasgfgewfgfhafhjgjahfgjhfg
djdsfgsdjgsdjgfhdgfhjdgfj""")

gdsdhjasgfgewfgfhafhjgjahfgjhfg
djdsfgsdjgsdjgfhdgfhjdgfj

In [4]:
print ("""my name is wajid
       and from peshawar 
       and famous player""")

my name is wajid
       and from peshawar
       and famous player

In [5]:
print("my name is saad \n and i am from peshawar")

my name is saad
 and i am from peshawar

In [6]:
print("wajid","saad")

wajid saad

In [7]:
print ("hello how are you \n i am from peshawar")

hello how are you
 i am from peshawar

In [8]:
print ("hello how are you \t i am from peshawar")

hello how are you 	 i am from peshawar

In [9]:
print ("hello how are you, i am fine \r i am from peshawar")

 i am from peshawar

In [10]:
print ("hello how are you \\ i am from peshawar")

hello how are you \ i am from peshawar

In [11]:
print ("hello how are you \fi am from peshawar")

hello how are you i am from peshawar

In [12]:
print ("hello how are you \bi am from peshawar")

hello how are you i am from peshawar

In [13]:
print ("hello how are you \' i am from peshawar")

hello how are you ' i am from peshawar

In [14]:
print ("hello how are you \r i am from peshawar")

 i am from peshawar

In [15]:
import numpy as np
x=np.array([[2,2,3],[1,3,4]])
print(x)

[[2 2 3]
 [1 3 4]]

In [16]:
brand = input("Do you have bonanza shirts")
if brand =='yes':
    
    color = input("Do you have red colur")
    if color =='yes':
        
        size  = input ("Do you have Medium Size")
        if size=='yes':
            
            price = input("Will you me in 1000")
            if price=='yes':
                print("Please pack")
            else:
                print('OK thank you price are high')
        else:
            print('OK thank you dont have medium')
    else:
        print('OK thank you dont have red')
        
else:
    print('OK thank you dont have bonanza')

Do you have bonanza shirtsyes
Do you have red coluryes
Do you have Medium Sizeyes
Will you me in 1000yes
Please pack

In [1]:
print("saad")

saad

In [2]:
def get_formatted_name(first_name, last_name):
 """Return a full name, neatly formatted."""
 full_name = first_name + ' ' + last_name
 return full_name.title()
musician = get_formatted_name('jimi', 'hendrix')
print(musician)

Jimi Hendrix

In [13]:
def func(f_Name,L_Name):
    """Return a full name , neatly formatted"""
    Full_Name = f_Name + ' ' + L_Name
    return Full_Name.title()
x =func("muhammad","Saad")
print(x)

Muhammad Saad

In [16]:
def func(F_name,L_name):
    Full_name = F_name + ' ' + L_name
    return Full_name.title()
x=func("taj",'wali')
print(x)

Taj Wali

In [18]:
def func(F_name,L_name):
    print(F_name.title(),L_name.title())
func("muhammad","saad")

Muhammad Saad

In [23]:
def func(a,b):
    a=int(input("enter any nuber: "))
    b=int(input("enter any nuber: "))
    print(a+b)
    print(a-b)
    print(a*b)
    print(a/b)
func(10,20)

enter any nuber: 50
enter any nuber: 40
90
10
2000
1.25

In [24]:
def func(a,b):
    c=a+b
    return c
x = func(30,50)
print(x)

80

In [26]:
def func(f_name,m_name,l_name):
    full_name = f_name +' '+m_name +' '+l_name
    return full_name.title()
x=func('saad','khan','khalil')
print(x)

Saad Khan Khalil

In [30]:
def get_formatted_name(first_name, last_name, middle_name=''):
    """Return a full name, neatly formatted."""
if middle_name:
    
    full_name = first_name + ' ' + middle_name + ' ' + last_name
else:
    full_name = first_name + ' ' + last_name
return full_name.title()
musician = get_formatted_name('jimi', 'hendrix')
print(musician)
musician = get_formatted_

NameError: name 'middle_name' is not defined

In [ ]:
def get_formatted_name(first_name, last_name, middle_name=''):
    if midle_name:
        full_name=first_name+' '+midle_name+' '+last_name
        else:
            full_name=first_name+' '+last_name
            return full_name.title()
        x=get_formatted_name('saad','khalil')
        print(x)
        x=g

In [9]:
def describe_city(city,country="Default Country"):
    print(f"{city} is in {country}")
describe_city("Reykjavik","IceLand")
describe_city("Lahore","Pakistan")
describe_city("Dehli","India")
describe_city("Dhaka default country")

Reykjavik is in IceLand
Lahore is in Pakistan
Dehli is in India
Dhaka default country is in Default Country

In [7]:
def describe_city(city, country="Default Country"):
    print(f"{city} is in {country}.")

# Calling the function for three different cities
describe_city("Reykjavik", "Iceland")
describe_city("New York")  # Using the default country
describe_city("Tokyo", "Japan")

Reykjavik is in Iceland.
New York is in Default Country.
Tokyo is in Japan.

In [10]:
def func(f_name,l_name):
    full_name=f_name+' '+l_name
    return full_name
x=func('Muhammad','Saad')
print(x)

Muhammad Saad

In [11]:
def get_formatted_name(first_name, last_name, middle_name=''):
    if middle_name:
        
        full_name = first_name + ' ' + middle_name + ' ' + last_name
    else:
        full_name = first_name + ' ' + last_name
    return full_name.title()
musician = get_formatted_name('jimi', 'hendrix')
print(musician)

musician = get_formatted_name('john', 'hooker', 'lee')
print(musician)

Jimi Hendrix
John Lee Hooker

In [10]:
def user_name(names):
    for name in names:
        msg = "Hello!"+name.title()+
        print(msg)
username = ['saad','ali','taj wali']
user_name(username)

SyntaxError: invalid syntax (3617196318.py, line 3)

In [19]:

def greet_users(names):
    for name in names:
        msg = "hello, "+name.title()+ "!"
        print(msg)
usernames=["saad","ali","taj wali"]
greet_users(usernames)

hello, Saad!
hello, Ali!
hello, Taj Wali!

In [21]:
def greet_users(names):
    
    """Print a simple greeting to each user in the list."""
    for name in names:
        msg = "Hello, " + name.title() + "!"
        print(msg)
names = ['hannah', 'ty', 'margot']
greet_users(names)

Hello, Hannah!
Hello, Ty!
Hello, Margot!

In [22]:
def Animals(names):
    for name in names:
        msg = "Hello, "+name.title()+"!"
        print(msg)
names = ["dog","cat","loin"]
Animals(names)

Hello, Dog!
Hello, Cat!
Hello, Loin!

# Spelling Checker

In [58]:
import tkinter

In [59]:
from tkinter import*

In [60]:
from textblob import TextBlob

In [61]:
from tkinter import Tk

root = Tk()
root.title("Spelling Checker")
root.geometry("700x400")
root.config(background="#dae6f6")
def check_spelling():
    word=enter_text.get()
    a=TextBlob(word)
    right=str(a.correct())
    cs = Label(root,text="Correct text is :",font=("poppins",20),bg="#dae6f6",fg="#364971")
    cs.place(x=100,y=250)
    spell.config(text=right)
heading = Label(root,text="Spelling Checker",font=("Trebuchet MS",30,"bold"),bg="#dae6f6",fg="#364971")
heading.pack(pady=(50,0))
enter_text=Entry(root,justify="center",width=30,font=("poppins",25),bg="white",border=2)
enter_text.pack(pady=10)
enter_text.focus()
button = Button(root,text="check",font=("ariel",20,"bold"),fg="white",bg="grey",command=check_spelling)
button.pack()

spell = Label(root,font=("poppins",20),bg="#dae6f6",fg="#364971")


spell.place(x=350,y=250)

root.mainloop()

In [9]:
from tkinter import Tk, Label, Entry, Button, messagebox

def validate_login():
    entered_username = entry_username.get()
    entered_password = entry_password.get()

    if entered_username == "saad" and entered_password == "123":
        messagebox.showinfo("Login Successful", "Welcome, Saad!")
    else:
        messagebox.showerror("Login Failed", "Invalid username or password")

# Create main window
root = Tk()
root.title("Login Form")

# Username Label and Entry
label_username = Label(root, text="Username:")
label_username.pack(pady=10)
entry_username = Entry(root)
entry_username.pack(pady=10)

# Password Label and Entry
label_password = Label(root, text="Password:")
label_password.pack(pady=10)
entry_password = Entry(root, show="*")  # 'show' attribute hides the password characters
entry_password.pack(pady=10)

# Login Button
login_button = Button(root, text="Login", command=validate_login)
login_button.pack(pady=20)

# Start the main event loop
root.mainloop()

# CRUD Operation Form

In [44]:
import tkinter as tk
from tkinter import ttk

# Function to handle insert operation
def insert_data():
    name = entry_name.get()
    age = entry_age.get()

    if name and age:
        tree.insert('', 'end', values=(name, age))
        clear_entries()
    else:
        tk.messagebox.showwarning("Incomplete Data", "Please enter both name and age.")

# Function to handle delete operation
def delete_data():
    selected_item = tree.selection()
    if selected_item:
        tree.delete(selected_item)
        clear_entries()
    else:
        tk.messagebox.showwarning("No Selection", "Please select a row to delete.")

# Function to handle update operation
def update_data():
    selected_item = tree.selection()
    if selected_item:
        name = entry_name.get()
        age = entry_age.get()

        if name and age:
            tree.item(selected_item, values=(name, age))
            clear_entries()
        else:
            tk.messagebox.showwarning("Incomplete Data", "Please enter both name and age.")
    else:
        tk.messagebox.showwarning("No Selection", "Please select a row to update.")

# Function to handle select operation
def select_data(event):
    selected_item = tree.selection()
    if selected_item:
        item_values = tree.item(selected_item, 'values')
        entry_name.delete(0, 'end')
        entry_name.insert(0, item_values[0])
        entry_age.delete(0, 'end')
        entry_age.insert(0, item_values[1])

# Function to clear entry fields
def clear_entries():
    entry_name.delete(0, 'end')
    entry_age.delete(0, 'end')

# Create main window
root = tk.Tk()
root.title("CRUD Operation Form")
root.geometry("500x300")
root.config(background="grey")

# Entry fields
label_name = tk.Label(root, text="Name:")
label_name.grid(row=0, column=0, padx=10, pady=10)
entry_name = tk.Entry(root)
entry_name.grid(row=0, column=1, padx=10, pady=10)

label_age = tk.Label(root, text="Age:")
label_age.grid(row=1, column=0, padx=10, pady=10)
entry_age = tk.Entry(root)
entry_age.grid(row=1, column=1, padx=10, pady=10)

# Buttons
insert_button = tk.Button(root, text="Insert", command=insert_data)
insert_button.grid(row=2, column=0, padx=10, pady=10)

delete_button = tk.Button(root, text="Delete", command=delete_data)
delete_button.grid(row=2, column=1, padx=10, pady=10)

update_button = tk.Button(root, text="Update", command=update_data)
update_button.grid(row=2, column=2, padx=10, pady=10)

# Treeview (Table to display data)
columns = ('Name', 'Age')
tree = ttk.Treeview(root, columns=columns, show='headings')
tree.grid(row=3, column=0, columnspan=3, padx=10, pady=10)

for col in columns:
    tree.heading(col, text=col)
    tree.column(col, width=100)

# Bind select_data function to item selection event
tree.bind('<ButtonRelease-1>', select_data)

# Start the main event loop
root.mainloop()

In [21]:
class Student:
    def __init__(self,name,roll,marks):
        self._name = name
        self._roll=roll
        self._marks=marks
    def attend_class(self):
        print(f"{self.name} are attending the class")
    def profile(self):
        print(f"""
        Name = {self.name}
        Roll = {self.roll}
        Marks= {self.marks}
        """)
    def get_name(self):
        return self._name
    def set_name(self,newname):
        lst = ['saad','amir','umer','asim','ali']
        if newname in lst:
            self._name = newname
        else:
            print(" Not available in the list...")
    def get_marks(self):
        return self._marks
    def set_marks(self,newmarks):
        if newmarks > 100:
            print("Marks should be less or equal 100.")
        else:
            self._marks=newmarks

In [22]:
obj = Student('kabeer',22,78)

In [23]:
obj.get_marks()

78

In [24]:
obj.set_marks(101)

Marks should be less or equal 100.

In [25]:
obj.set_marks(80)

In [26]:
obj.get_marks()

80

In [27]:
obj.get_name()

'kabeer'

In [28]:
obj.set_name('shakeel')

 Not available in the list...

In [29]:
obj.set_name('ali')

In [30]:
obj.get_name()

'ali'

In [61]:
class PSL:
    def __init__(self,team,captain,owner,sponser):
        self._team=team
        self._captain=captain
        self._owner=owner
        self._sponser=sponser
    def practice(self):
        print('player are doing practice in the ground..')
    def playing(self):
        print("players are playing match..")
    def get_team(self):
        return self._team
    def set_team(self,newteam):
        t_lst = ['peshawar zalmi','karach king','islamabad united','lahore qalandar','multan sultan','quetta gladiator']
        if newteam in t_lst:
            self._team = newteam
        else:
            print('This team is not include in the list..')
    def get_captain(self):
        return self._captain
    def set_captain(self,newcaptain):
        c_lst=['Babar Azam','Rizwan','Rossow','Shan masood','Shahdab','shaheen']
        if newcaptain in c_lst:
            self._captain=newcaptain
        
        else:
            print(' Not available in the list')
obj = PSL('Peshawar zalmi','Babar Azam','javaid afridi','Hier')

In [62]:
obj.get_captain()

'Babar Azam'

In [63]:
obj.get_team()

'Peshawar zalmi'

In [64]:
obj.set_team('karach king')

In [65]:
obj.get_team()

'karach king'

In [66]:
obj.set_captain('Shan masood')

In [67]:
obj.get_captain()

'Shan masood'

In [68]:
obj.set_captain('fahad')

 Not available in the list

Start with your class from Exercise 9-1. Create three
different instances from the class, and call describe_restaurant() for each
instance.

In [69]:
class Restaurant:
    def __init__(self,name,address,Open_time):
        self.name=name
        self.address=address
        self.Open_time=Open_time
    def describe_restaurant(self):
        print(f"""
        Name: {self.name}
        Address:{self.address}
        Timing:{self.Open_time}
        """)
obj = Restaurant('Kabeer','Peshawar Ring Road','11:00 am to 12:00 pm')

In [70]:
obj.describe_restaurant()

        Name: Kabeer
        Address:Peshawar Ring Road
        Timing:11:00 am to 12:00 pm

In [71]:
obj.name

'Kabeer'

In [72]:
obj.address

'Peshawar Ring Road'

In [73]:
obj.Open_time

'11:00 am to 12:00 pm'

Make a class called User. Create two attributes called first_name
and last_name, and then create several other attributes that are typically stored
in a user profile. Make a method called describe_user() that prints a summary
of the user’s information. Make another method called greet_user() that prints
a personalized greeting to the user.
Create several instances representing different users, and call both methods
for each user.

In [77]:
class User:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
    def describe_user(self):
        print(f"My firstname is {self.first_name} and my lastname is {self.last_name}")
    def greet_user(self):
        print(f"I am {self.first_name+self.last_name}. I am the student of SUIT i have done my fsc from PMDC in 2019. i am software engineer. my favorite programming langauge is python.")
obj = User('Muhammad','Saad')

In [78]:
obj.describe_user()

My firstname is Muhammad and my lastname is Saad

In [79]:
obj.greet_user()

I am MuhammadSaad. I am the student of SUIT i have done my fsc from PMDC in 2019. i am software engineer. my favorite programming langauge is python.

In [80]:
class Car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
    def get_descriptive_name(self):
        
        """Return a neatly formatted descriptive name."""
        long_name = str(self.year) + ' ' + self.make + ' ' + self.model
        return long_name.title()
my_new_car = Car('audi', 'a4', 2016)
print(my_new_car.get_descriptive_name())

2016 Audi A4

In [83]:
class Car:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
    def get_descriptive_name(self):
        print(f"{self.year} {self.make} {self.model}")
obj=Car(2016,'Audi','a4')
obj.get_descriptive_name()

a4 2016 Audi

In [5]:
class School:
    def __init__(self,name,address,teachers=[]):
        self._name=name
        self._address=address
        self._teachers=teachers
    def Profile(self):
        print(f"""
        Name:{self._name}
        Address:{self._address}
        Teachers:{self._teachers}
        
        """)
    def get_teachers(self):
        return self._teachers
    def set_teachers(self,newteachers):
        if newteachers in self._teachers:
            self._teachers=newteachers
        else:
            print(f'{newteachers} is not in School..')
obj = School('WMSC','warsak road',['Abid',"sir shan",'amir iqbal','khalid','ishfaq'])

In [6]:
obj.Profile()

        Name:WMSC
        Address:warsak road
        Teachers:['Abid', 'sir shan', 'amir iqbal', 'khalid', 'ishfaq']

In [7]:
obj.get_teachers()

['Abid', 'sir shan', 'amir iqbal', 'khalid', 'ishfaq']

In [8]:
obj.set_teachers('ali')

ali is not in School..

In [10]:
obj.set_teachers('Abid')

In [11]:
obj.get_teachers()

'Abid'

In [25]:
class Car:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
    def func(self):
        long_name = str(self.year) + ' '+ self.make+' '+self.model
        #return long_name.title()
        print(long_name.title())
obj = Car('audi','a4',2016)
obj.func()

2016 Audi A4

In [31]:
class student:
    def __init__(self,name,age,Id,address,gender):
        self.name=name
        self.age=age
        self.Id=Id
        self.address=address
        self.gender=gender
    def func(self):
        x = self.name +' '+ str(self.age) +' '+ str(self.Id) +' '+ self.address +' '+ self.gender
        return x.title()
    def Profile(self):
        print(f"""
        Name:    {self.name}
        Age:     {self.age}
        ID:      {self.Id}
        Adderess:{self.address}
        Gender:  {self.gender}
        """)
obj=student("Muhammad",23,7084,"Canal Road abdara","Male")
obj.func()

'Muhammad 23 7084 Canal Road Abdara Male'

In [32]:
obj.Profile()

        Name:    Muhammad
        Age:     23
        ID:      7084
        Adderess:Canal Road abdara
        Gender:  Male

In [34]:
class Car:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
        self.odometer_reading=0
    def func(self):
        long_name = str(self.year) + ' '+ self.make+' '+self.model
        #return long_name.title()
        print(long_name.title())
    def read_odometer(self):
        print(f"this car has only {self.odometer_reading} miles..")
obj = Car('audi','a4',2016)
obj.func()
obj.read_odometer()

2016 Audi A4
this car has only 0 miles..

Make a class called Restaurant. The __init__() method for
Restaurant should store two attributes: a restaurant_name and a cuisine_type.
Make a method called describe_restaurant() that prints these two pieces of
information, and a method called open_restaurant() that prints a message indicating
that the restaurant is open.
Make an instance called restaurant from your class. Print the two attributes
individually, and then call both methods.
Add an attribute called number_served with a default value of 0. Create an
instance called restaurant from this class. Print the number of customers the
restaurant has served, and then change this value and print it again.
Add a method called set_number_served() that lets you set the number
of customers that have been served. Call this method with a new number and
print the value again.
Add a method called increment_number_served() that lets you increment
the number of customers who’ve been served. Call this method with any number
you like that could represent how many customers were served in, say, a
day of business.

In [53]:
class restaurent:
    def __init__(self,R_name,C_type,N_served):
        self.R_name=R_name
        self.C_type=C_type
        self._N_served=N_served=0
    def customer_served(self):
        print(f'{self._N_served} have been served today')
    def get_customer_served(self):
        return self._N_served
       
    def set_customer_served(self,newnumber):
         self._N_served=newnumber
         
            
obj=restaurent('PC','Dragon',0)
obj.get_customer_served()

0

In [55]:
obj.get_customer_served()

0

In [56]:
obj.set_customer_served(100)

In [57]:
obj.get_customer_served()

100

Make a class called User. Create two attributes called first_name
and last_name, and then create several other attributes that are typically stored
in a user profile. Make a method called describe_user() that prints a summary
of the user’s information. Make another method called greet_user() that prints
a personalized greeting to the user.
Create several instances representing different users, and call both methods
for each user.


Add an attribute called login_attempts to your User
Write a method called increment_
login_attempts() that increments the value of login_attempts by 1. Write
another method called reset_login_attempts() that resets the value of login_
attempts to 0.
Make an instance of the User class and call increment_login_attempts()
several times. Print the value of login_attempts to make sure it was incremented
properly, and then call reset_login_attempts(). Print login_attempts again to
make sure it was reset to 0.

In [62]:
class stationary:
    def __init__(self,book,pens,pencil):
        self.book=book
        self.pens=pens
        self.pencil=pencil
    def func(self):
        print("""
       Book: Python
       pens: dollar
       pencil: piano
        """)
obj = stationary("python","Dollar","piano")

In [63]:
obj.book

'python'

In [64]:
obj.pens

'Dollar'

In [65]:
obj.pencil

'piano'

In [67]:
print(obj.func())

AttributeError: 'stationary' object has no attribute 'pen'

In [71]:
class student:
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks
    def func(self):
        print(f"""
        name: {self.name}
        age:{self.age}
        marks:{self.marks}
        
        """)
obj=student("wajid",23,100)

In [72]:
obj.name

'wajid'

In [73]:
obj.age

23

In [74]:
obj.marks

100

In [76]:
obj.func()

        name: wajid
        age:23
        marks:100