#string Formating

In [4]:
age =int( input("Enter age"))
name = input("enter name")
print(f"your name is {name} and your age {age} is")

Enter age22
enter namesaad
your name is saad and your age 22 is

In [5]:
age+22

44

# Logical Operator
.and
.or
.not

In [6]:
12>10 and 10>5
#true      true

True

############AND############# Remind as multiplication
exp1   and  exp2            Result
ture         true           true
true         false          false
false        true           false
false        false          false

##########OR######## remind as +
exp1   or  exp2            Result
ture         true           true
true         false          true
false        true           true
false        false          false

########## NOT ##########
Not(true)>>>>false

#Truthy Faslsy

In [8]:
bool(1) #is truthy

True

In [9]:
bool(0)# is falsy

False

In [12]:
a=10
b=a*3-1  #29
c=b+a*2  #49
d=c+b-5  #73

In [13]:
a>b or b<c or c>d

True

In [15]:
# whenever a vlaue it will be truthy 
# No value its falsy
bool(122),bool("saad"),bool(9.00), bool("")

(True, True, True, False)

In [16]:
a=100
b=200
c=300
a and b and c

300

In [18]:
import math
x=-100
y=(x>10) and math.sqrt(x)
y

False

#STring
is immutable (not changing)
is iterable (easily access)

In [ ]:
name = "saad"

In [19]:
name.upper()

'SAAD'

In [20]:
name = "SAAD"
name.lower()

'saad'

In [21]:
name

'SAAD'

In [ ]:
name = "saad khan"

In [22]:
name.title()

'Saad'

In [25]:
name.count("d")

0